<div class="">
<h2 class="col-md-3 bg-secondary text-center">管理者ログイン</h2>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row col-md-6 d-flex justify-content-center">
    <div class="col-md-6 mb-4 ml-4 text-left">
    メールアドレス
    </div>
    <div class="col-md-4 mb-4 ml-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "admin@example.jp", class: 'fa' %>
    </div>
  </div>

  <div class="row col-md-4 d-flex justify-content-center">
    <div class="col-md-6 mb-4 ml-4 text-left">
    パスワード
    </div>
    <div class="col-md-4 mb-4 ml-4">
    <%= f.password_field :password, autocomplete: "current-password",  placeholder: "123456", class: 'form-control-lg' %>
    </div>
  </div>
<div class="row">
  <div class="d-flex justify-content-center col-md-3">
    <%= f.submit "ログイン",class: "btn btn-primary" %>
  </div>
</div>
<% end %>
</div>