
    <div class="genrekara" style="font-size :20px;" >
      ジャンルから探す
    </div>

    <table class="table table-bordered table-hover text-center ec-genre-list" >
    <% genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to genre.name, "#", class:"ec-genre-list-item"%>
            </td>
        </tr>
           <% end %>
    </table>
