<footer>
  <div class="container">
    <div class="form-group row" style="padding:20px; font-family: 'Kiwi Maru', sans-serif;">
      <div class="col-12 text-center">
        <p>NAGANO-cake</p>
      </div>
    </div>
  </div>
</footer>